:root {
  --ff-body: "Lexend", sans-serif;
  --fs-700-40: 2.5rem;
  --fs-600-14: 0.875rem;
  --fs-600-18: 1.125rem;
  --fs-600-20: 1.25rem;
  --fs-600-32: 2rem;
  --fs-500-14: 0.875rem;
  --fs-500-18: 1.125rem;
  --fs-500-20: 1.25rem;
  --fs-500-24: 1.5rem;
  --fs-400-12: 0.75rem;
  --fs-400-14: 0.875rem;
  --color-title: #1B1C57;
  --color-sub-title: #626687;
  --color-grey: #888B97;
  --colar-orange: #F59E0B;
  --color-light-green: #D1FAE5;
  --color-green: #10B981;
}

@media (max-width: 1199.98px) {
  :root {
    --fs-600-32: 1.75rem;
  }
}
@media (max-width: 767.98px) {
  :root {
    --fs-700-40: 2.125rem;
  }
}
[class*=__container] {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
}

html, body {
  height: 100%;
}

body {
  line-height: 1;
  font-family: var(--ff-body);
}

ol, ul, li {
  list-style: none;
}

a {
  text-decoration: none;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.page {
  flex: 1 1 auto;
}

.tag-title {
  color: var(--colar-orange);
  font-size: var(--fs-500-14);
  font-weight: 500;
  text-transform: capitalize;
}

.semi-title {
  text-transform: capitalize;
  color: var(--color-title);
  font-size: var(--fs-600-32);
  font-weight: 600;
  margin-top: 12px;
  line-height: 40px;
}

/* ======================================== */
.header {
  position: absolute;
  top: 46px;
  left: 0;
  width: 100%;
  z-index: 99;
}
@media (max-width: 767.98px) {
  .header {
    position: relative;
    margin-top: 25px;
    top: 0;
  }
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 60px;
}
@media (max-width: 570px) {
  .header__container {
    justify-content: center;
    flex-wrap: wrap;
  }
}

h1 {
  display: block;
  max-width: 115px;
  margin-right: 5px;
}
@media (max-width: 570px) {
  h1 {
    margin-bottom: 10px;
  }
}

.logo {
  display: inline-block;
  width: 115px;
  height: 35px;
  background-image: url("../img/Logo.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* ======================================== */
.menu-list {
  display: flex;
  gap: 24px;
}
@media (max-width: 767.98px) {
  .menu-list {
    gap: 8px;
  }
}
@media (max-width: 570px) {
  .menu-list {
    gap: 5px;
  }
}

.menu-list__item {
  transition: all 0.4s;
  position: relative;
}
.menu-list__item:hover > .dropdown-menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 6px;
}

.dropdown-menu {
  display: none;
  position: absolute;
  z-index: 1;
  transition: all 0.4s;
  bottom: -115px;
  left: 10px;
  padding-top: 15px;
  color: #F0F3FD;
}
@media (max-width: 990.98px) {
  .dropdown-menu {
    color: var(--color-title);
  }
}
.dropdown-menu li {
  padding: 6px 15px;
  border: 1px solid transparent;
  border-radius: 32px;
  transition: all 0.4s;
}
@media (max-width: 990.98px) {
  .dropdown-menu li {
    color: var(--color-title);
    border: 1px solid var(--color-title);
  }
}
.dropdown-menu li:hover {
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: #D1FAE5;
  color: #2c2c2c;
}
.dropdown-menu li a {
  color: inherit;
}

.menu-link {
  font-size: var(--fs-600-14);
  font-weight: 600;
  text-transform: capitalize;
  line-height: 18px;
  white-space: nowrap;
  color: #F0F3FD;
  padding: 8px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 32px;
  opacity: 1;
  transition: all 0.4s;
}
@media (max-width: 990.98px) {
  .menu-link {
    color: var(--color-title);
    border: 1px solid var(--color-title);
  }
}
@media (max-width: 570px) {
  .menu-link {
    padding: 8px 8px;
  }
}
.menu-link:hover {
  background-color: #D1FAE5;
  color: #2c2c2c;
}
@media (max-width: 990.98px) {
  .menu-link:hover {
    background-color: var(--color-title);
    color: #fff;
  }
}

.dropdown-toggle {
  position: relative;
  padding-right: 44px;
}
@media (max-width: 570px) {
  .dropdown-toggle {
    padding-right: 35px;
  }
}
.dropdown-toggle .arrow {
  position: absolute;
  display: block;
  background-image: url("../img/drop.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 5px;
  width: 10px;
  top: 50%;
  right: 14px;
  transform: translateY(-50%);
}
@media (max-width: 990.98px) {
  .dropdown-toggle .arrow {
    content: "";
    position: absolute;
    background-image: none;
    width: 8px;
    height: 8px;
    border-bottom: 1px solid var(--color-title);
    border-left: 1px solid var(--color-title);
    transform: rotate(315deg) translateY(-50%);
    transform-origin: 1px 4px;
    top: 50%;
    right: 16px;
  }
}
@media (max-width: 570px) {
  .dropdown-toggle .arrow {
    right: 12px;
  }
}

.singUp {
  color: #047857;
  line-height: 22px;
  background: #D1FAE5;
  border: none;
}

/* ======================================== */
.hero-heading__container {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 990.98px) {
  .hero-heading__container {
    justify-content: center;
  }
}

.hero-heading {
  position: relative;
  padding-top: 182px;
  padding-bottom: 186px;
  margin-bottom: 120px;
  z-index: 1;
}
@media (max-width: 570px) {
  .hero-heading {
    padding-top: 140px;
  }
}
.hero-heading:before {
  content: "";
  position: absolute;
  background-image: url("../img/heroColorBlur.png");
  background-size: contain;
  background-position: top left;
  background-repeat: no-repeat;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
@media (max-width: 767.98px) {
  .hero-heading:before {
    top: -95px;
  }
}

.main-title__wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 500px;
  margin-bottom: 32px;
  z-index: 1;
}
@media (max-width: 767.98px) {
  .main-title__wrapper {
    max-width: 100%;
  }
}
@media (max-width: 767.98px) {
  .main-title__wrapper {
    align-items: center;
  }
}

.main-title {
  text-transform: capitalize;
  color: var(--color-title);
  font-size: var(--fs-700-40);
  font-weight: 600;
  line-height: 50px;
}
@media (max-width: 767.98px) {
  .main-title {
    text-align: center;
  }
}
.main-title span {
  color: transparent;
  -webkit-text-stroke: 1px #1B1C57;
  text-stroke: 1px #1B1C57;
}

.sub-title {
  font-weight: 400;
  color: var(--color-sub-title);
  line-height: 28px;
}
@media (max-width: 1199.98px) {
  .sub-title {
    padding-right: 70px;
  }
}
@media (max-width: 767.98px) {
  .sub-title {
    padding-right: 0;
    text-align: center;
  }
}

.search-form {
  position: relative;
}
@media (max-width: 767.98px) {
  .search-form {
    display: flex;
    align-items: center;
    width: 300px;
  }
}
.search-form:before {
  content: "";
  position: absolute;
  background-image: url("../img/geo_icon.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  top: 50%;
  left: 27px;
  transform: translateY(-50%);
  width: 18px;
  height: 22px;
  z-index: 1;
}
@media (max-width: 767.98px) {
  .search-form:before {
    left: 10px;
  }
}

.search-form__input {
  border: 1px solid #E0E3EB;
  border-radius: 32px;
  width: 100%;
  max-width: 496px;
  padding: 17px 16px 17px 64px;
  position: relative;
}
@media (max-width: 1199.98px) {
  .search-form__input {
    max-width: 420px;
  }
}
@media (max-width: 767.98px) {
  .search-form__input {
    border-radius: 32px 0 0 32px;
    padding: 17px 16px 17px 38px;
    max-width: none;
  }
}
.search-form__input::placeholder {
  font-size: var(--fs-500-14);
  color: var(--color-placeholder);
}

.search-form__button {
  background: #10B981;
  border-radius: 32px;
  padding: 13px 44px 13px 16px;
  color: #fff;
  font-weight: 600;
  position: absolute;
  right: 9px;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.4s;
  cursor: pointer;
}
@media (max-width: 1199.98px) {
  .search-form__button {
    right: 86px;
  }
}
@media (max-width: 767.98px) {
  .search-form__button {
    position: relative;
    top: auto;
    transform: none;
    padding: 18px 44px 18px 16px;
    border-radius: 0 32px 32px 0;
    right: 0;
  }
}
.search-form__button:after {
  content: "";
  position: absolute;
  background-image: url("../img/search_arrow.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  top: 50%;
  left: 75px;
  transform: translateY(-50%);
  width: 7px;
  height: 14px;
}
.search-form__button:hover {
  background-color: var(--color-title);
}

.partners {
  color: var(--color-placeholder);
}
@media (max-width: 767.98px) {
  .partners {
    text-align: center;
  }
}

.partners-img__wrapper {
  display: flex;
  justify-content: space-between;
  gap: 32px;
  position: relative;
  z-index: 1;
}
@media (max-width: 767.98px) {
  .partners-img__wrapper {
    gap: 13px;
  }
}

.hero-heading__content {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.hero-heading__right {
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
}

.overlay__wrapper {
  position: relative;
  width: 50%;
  height: 419px;
  display: flex;
  justify-content: end;
}

.image-body {
  position: absolute;
  background-image: url("../img/corners.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  top: 50%;
  right: 14.8%;
  transform: translateY(-59%);
  width: 74%;
  height: 76%;
}
@media (max-width: 990.98px) {
  .image-body {
    background-image: none;
  }
}

.corner-overlay {
  display: inline-block;
  object-position: center;
  object-fit: contain;
}

.heading-img {
  background-image: url("../img/headingMain.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  right: 0;
  top: 0;
  width: 50%;
  height: 100%;
  z-index: -1;
}
@media (max-width: 990.98px) {
  .heading-img {
    background-image: none;
    width: 100%;
    z-index: 0;
  }
}

.slider-wrapper {
  position: relative;
  height: 100%;
}

.hero-slider {
  position: absolute !important;
  width: 100%;
  bottom: 50px;
}
.hero-slider .slick-list.draggable {
  padding: 0 !important;
}
.hero-slider .slider-item {
  background-color: #fff;
  display: flex;
  box-shadow: 0 11px 48px rgba(51, 51, 51, 0.06);
  border-radius: 32px;
}
@media (max-width: 990.98px) {
  .hero-slider .slider-item {
    background-color: rgba(209, 250, 229, 0.6117647059);
  }
}

.slick-list {
  overflow: hidden;
}

.slick-track {
  display: flex;
  gap: 16px;
}

.slick-slide {
  display: flex;
}

.item-img__wrapper .need-better-img {
  left: 22px;
}

.wrapper-position {
  position: relative;
}
.wrapper-position img:nth-child(1) {
  left: 0;
}
.wrapper-position img:nth-child(2) {
  left: 29px;
}
.wrapper-position img:nth-child(3) {
  left: 57px;
}

.wrapper-position ~ .item-text__wrapper {
  margin-left: 120px;
}

.item-img__wrapper {
  padding: 24px 16px 24px 24px;
  position: relative;
}
.item-img__wrapper img {
  position: absolute;
  top: 50%;
  transform: translateY(-43%);
  left: -5px;
}

.item-text__wrapper {
  padding: 29px 29px 29px 1px;
  margin-left: 59px;
}

.recommendations {
  margin-bottom: 120px;
}
.recommendations .recommendations-header__container {
  display: flex;
  align-items: end;
  justify-content: space-between;
  margin-bottom: 40px;
  z-index: 99;
}
@media (max-width: 767.98px) {
  .recommendations .recommendations-header__container {
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 40px;
  }
}
.recommendations .slider-wrapper__container {
  position: relative;
}
@media (max-width: 990.98px) {
  .recommendations .slider-wrapper__container {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}
.recommendations .slider-wrapper__container .slick-track {
  gap: 40px;
}
.recommendations .slider-wrapper__container .img-wrapper .img-icon {
  display: inline-block;
  position: relative;
  bottom: 45px;
  left: 25px;
  padding: 8px 16px 8px 42px;
  border-radius: 32px;
  font-size: var(--fs-400-14);
  font-weight: 400;
}
.recommendations .slider-wrapper__container .img-wrapper .img-icon:before {
  top: 50%;
  transform: translateY(-50%);
  left: 16px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.recommendations .slider-wrapper__container .img-wrapper .popular {
  background-color: #FEE2E2;
  color: #EF4444;
}
.recommendations .slider-wrapper__container .img-wrapper .popular:before {
  content: "";
  position: absolute;
  background-image: url("../img/featured_house/img_tag_icon/Vector.svg");
  height: 11px;
  width: 13.5px;
}
.recommendations .slider-wrapper__container .img-wrapper .new-house {
  background-color: #DBEAFE;
  color: #1D4ED8;
}
.recommendations .slider-wrapper__container .img-wrapper .new-house:before {
  content: "";
  position: absolute;
  background-image: url("../img/featured_house/img_tag_icon/2.svg");
  height: 12px;
  width: 12.3px;
}
.recommendations .slider-wrapper__container .img-wrapper .best-deals {
  background-color: var(--color-light-green);
  color: #047857;
}
.recommendations .slider-wrapper__container .img-wrapper .best-deals:before {
  content: "";
  position: absolute;
  background-image: url("../img/featured_house/img_tag_icon/wallet.svg");
  height: 12.3px;
  width: 12.5px;
}
.recommendations .slider-wrapper__container .slider-item {
  display: block;
  width: 100%;
  max-width: 340px;
  background-color: transparent;
}
.recommendations .slider-wrapper__container .slider-item .info-text__wrapper {
  margin-bottom: 24px;
}
.recommendations .slider-wrapper__container .slider-item .info-text__wrapper span {
  display: block;
}
.recommendations .slider-wrapper__container .slider-item .info-text__wrapper .title {
  font-size: var(--fs-500-24);
  font-weight: 500;
  color: #0E1735;
  margin-bottom: 8px;
}
.recommendations .slider-wrapper__container .slider-item .info-text__wrapper .price {
  font-size: var(--fs-500-20);
  font-weight: 500;
  color: #3C4563;
}
.recommendations .slider-wrapper__container .slider-item .realtor-wrapper {
  padding-bottom: 10px;
}
.recommendations .slider-wrapper__container .slider-item .realtor-wrapper img {
  margin-right: 16px;
}
.recommendations .slider-wrapper__container .slider-item .realtor-info {
  display: inline-block;
}
.recommendations .slider-wrapper__container .slider-item .realtor-info span {
  display: block;
}
.recommendations .slider-wrapper__container .slider-item .realtor-info .realtor-name {
  font-size: var(--fs-500-18);
  font-weight: 500;
  color: #0E1735;
  margin-bottom: 5px;
}
.recommendations .slider-wrapper__container .slider-item .realtor-info .realtor-location {
  font-size: var(--fs-500-14);
  font-weight: 500;
  color: var(--color-grey);
}

.recommendations-header {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.description-wrapper {
  margin-left: 39px;
}
@media (max-width: 767.98px) {
  .description-wrapper {
    margin-left: 0;
    text-align: center;
  }
}

.tag-title {
  position: relative;
  font-size: var(--fs-500-14);
  font-weight: 500;
  margin-bottom: 12px;
}
.tag-title:before {
  content: "";
  position: absolute;
  width: 31px;
  height: 1px;
  background-color: var(--colar-orange);
  top: 50%;
  transform: translateY(-50%);
  left: -48px;
}
@media (max-width: 767.98px) {
  .tag-title:before {
    content: none;
  }
}

.filter {
  display: flex;
  margin: 0 32px;
  gap: 32px;
}
@media (max-width: 767.98px) {
  .filter {
    padding-bottom: 20px;
    gap: 12px;
    flex-direction: column;
  }
}
.filter li {
  cursor: pointer;
  padding: 12px 24px 12px 56px;
  transition: all 0.4s;
  color: var(--color-grey);
  border-radius: 32px;
  border: 1px solid #E0E3EB;
  position: relative;
}
.filter li:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 22px;
  width: 18px;
  height: 18px;
  transform: translateY(-50%);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.filter li:hover {
  color: var(--color-green);
  border: 1px solid var(--color-green);
}
.filter .house:before {
  background-image: url("../img/featured_house/filter_icons/house.svg");
}
.filter .villa:before {
  background-image: url("../img/featured_house/filter_icons/villa.svg");
}
.filter .apartment:before {
  background-image: url("../img/featured_house/filter_icons/apartment.svg");
}
.filter .active {
  background-color: var(--color-light-green);
  color: var(--color-green);
  border: none;
}

.arrow-wrapper {
  display: flex;
  gap: 16px;
}

.slick-arrow {
  background: #E0E3EB;
  border-radius: 32px;
  position: relative;
  font-size: 0;
  transition: all 0.4s;
  width: 60px;
  height: 52px;
  cursor: pointer;
}
.slick-arrow:before {
  content: "";
  width: 10px;
  height: 10px;
  border-bottom: 1px solid #3C4563;
  border-left: 1px solid #3C4563;
}
.slick-arrow:hover {
  background-color: #10B981;
}

.slick-prev:before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  border-bottom: 1px solid #3C4563;
  border-left: 1px solid #3C4563;
  transform: rotate(45deg);
  transform-origin: 9px 0px;
}

.slick-next:before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  border-bottom: 1px solid #3C4563;
  border-left: 1px solid #3C4563;
  transform: rotate(225deg);
  transform-origin: 1px 4px;
}

.ready-to-sell {
  margin-bottom: 120px;
  position: relative;
}
@media (max-width: 767.98px) {
  .ready-to-sell {
    margin-bottom: 260px;
  }
}
.ready-to-sell:after {
  content: "";
  position: absolute;
  background-image: url(../img/readyBlure.svg);
  background-size: contain;
  background-position: right center;
  background-repeat: no-repeat;
  top: -222px;
  right: 0;
  width: 438px;
  height: 494px;
  z-index: -1;
}
.ready-to-sell:before {
  content: "";
  position: absolute;
  background-image: url(../img/readyBlure2.svg);
  background-size: contain;
  background-position: right center;
  background-repeat: no-repeat;
  top: -100px;
  right: 0;
  width: 438px;
  height: 494px;
  z-index: -1;
}

.ready-to-sell__container {
  display: flex;
}
@media (max-width: 767.98px) {
  .ready-to-sell__container {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 767.98px) {
  .house-info {
    margin-bottom: 35px;
  }
}

.half {
  width: 50%;
}
@media (max-width: 767.98px) {
  .half {
    width: 100%;
  }
}

.description-wrapper {
  margin-bottom: 16px;
}
.description-wrapper .semi-title {
  margin-bottom: 16px;
}
.description-wrapper .house-text {
  line-height: 28px;
  color: #626687;
  opacity: 0.75;
  font-weight: 400;
}

.detail {
  margin-left: 39px;
  position: relative;
  margin-bottom: 76px;
}
@media (max-width: 767.98px) {
  .detail {
    position: relative;
    margin-bottom: 76px;
    margin-left: 0;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.detail:after {
  content: "";
  position: absolute;
  width: 440px;
  height: 2px;
  background-color: #F0F3FD;
  bottom: -42px;
}
@media (max-width: 767.98px) {
  .detail:after {
    left: 50%;
    transform: translateX(-50%);
    max-width: 440px;
    width: 100%;
  }
}

.detail-title {
  display: inline-block;
  color: var(--color-title);
  font-weight: 600;
  text-transform: capitalize;
  margin-bottom: 22px;
}

.house-features {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 26px;
}
.house-features span {
  padding-left: 44px;
  position: relative;
  color: #3C4563;
  font-weight: 500;
}
.house-features span:before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.house-features .rooms:before {
  width: 25px;
  height: 20px;
  background-image: url("../img/readyToSell/sofa.svg");
}
.house-features .bathrooms:before {
  width: 25px;
  height: 20px;
  background-image: url("../img/readyToSell/bath.svg");
}
.house-features .carport:before {
  width: 25px;
  height: 20px;
  background-image: url("../img/readyToSell/carpot.svg");
}
.house-features .floors:before {
  width: 25px;
  height: 20px;
  background-image: url("../img/readyToSell/flor.svg");
}

.manager-wrapper {
  margin-left: 39px;
}
@media (max-width: 767.98px) {
  .manager-wrapper {
    display: flex;
    justify-content: center;
    margin-left: 0;
  }
}
.manager-wrapper .manager-info {
  display: inline-block;
  margin-left: 24px;
  margin-right: 59px;
}
@media (max-width: 1199.98px) {
  .manager-wrapper .manager-info {
    margin-left: 18px;
    margin-right: 34px;
  }
}
@media (max-width: 767.98px) {
  .manager-wrapper .manager-info {
    margin-left: 5px;
    margin-right: 15px;
  }
}
.manager-wrapper .manager-info span {
  display: block;
  padding: 3px 0;
}
.manager-wrapper .manager-info .manager-name {
  font-size: var(--fs-500-18);
  font-weight: 500;
  color: var(--color-title);
}
.manager-wrapper .manager-info .manager-location {
  font-size: var(--fs-500-14);
  font-weight: 500;
  color: var(--color-grey);
}
.manager-wrapper .contact {
  padding: 13px 16px 13px 56px;
  position: relative;
  background-color: #10B981;
  border-radius: 32px;
  color: #ffffff;
  top: -10px;
  transition: all 0.4s;
  white-space: nowrap;
}
@media (max-width: 767.98px) {
  .manager-wrapper .contact {
    top: 0;
    padding: 13px 16px 13px 16px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.manager-wrapper .contact:after {
  content: "";
  position: absolute;
  width: 14px;
  height: 19px;
  background-image: url("../img/readyToSell/phone.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  top: 50%;
  transform: translateY(-50%);
  left: 22px;
}
@media (max-width: 767.98px) {
  .manager-wrapper .contact:after {
    content: none;
  }
}
.manager-wrapper .contact:hover {
  background-color: var(--color-title);
}

.gallery-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: end;
}
@media (max-width: 570px) {
  .gallery-wrapper {
    justify-content: end;
  }
}
.gallery-wrapper .gallery-body {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: end;
  left: -20px;
  bottom: -20px;
}
.gallery-wrapper .slider-item__background {
  flex: 1;
  z-index: 0;
}

.gallery-slider .slider-item {
  flex: 1;
  background-color: transparent;
  margin-right: 12px;
  position: relative;
  z-index: 1;
  left: -45px;
  justify-content: center;
  align-items: center;
}

.ready-to-sell__slider {
  display: flex;
}
.ready-to-sell__slider .slick-list {
  overflow: unset;
}
.ready-to-sell__slider .slick-track {
  align-items: start;
}

.popup {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 60px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.9);
}

.background-video {
  position: absolute;
  top: 0;
  right: 0;
  width: 71%;
  height: 102%;
  background-image: url(../img/readyToSell/slider-house.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
}
@media (max-width: 1199.98px) {
  .background-video {
    width: 92%;
  }
}
@media (max-width: 767.98px) {
  .background-video {
    width: 100%;
    min-height: 353px;
    height: 100%;
  }
}
.background-video a {
  background-image: url("../img/readyToSell/play-icon.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: inline-block;
  width: 50px;
  height: 50px;
}

.elements {
  position: relative;
  bottom: -45px;
  left: 55px;
}
@media (max-width: 1199.98px) {
  .elements {
    display: flex;
    align-items: center;
    position: relative;
    bottom: -65px;
    left: 35px;
    gap: 5px;
  }
}
@media (max-width: 767.98px) {
  .elements {
    align-items: end;
    bottom: -217px;
    left: 0;
  }
}
@media (max-width: 570px) {
  .elements {
    flex-direction: column-reverse;
    align-items: end;
    bottom: -80px;
  }
}

.element {
  cursor: pointer;
}

.modal-content {
  margin: auto;
  width: 90%;
  max-width: 1200px;
}

#closePopup {
  position: absolute;
  top: 10px;
  right: 10px;
}

.title-wrapper {
  text-align: center;
  margin-bottom: 40px;
}
.title-wrapper .tag-title:before {
  content: "";
  position: absolute;
  width: 31px;
  height: 1px;
  background-color: var(--colar-orange);
  top: -8px;
  transform: translateX(-50%);
  left: 50%;
}

.review-slider {
  position: relative;
}
.review-slider .slick-dots {
  position: absolute;
  display: flex;
  bottom: 70px;
  left: 50%;
  transform: translateX(-50%);
  gap: 16px;
}
.review-slider .slick-dots li {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #E0E3EB;
  transition: all 0.4s;
}
.review-slider .slick-dots li:hover {
  background-color: #3C4563;
}
.review-slider .slick-dots li button {
  font-size: 0;
}
.review-slider .slick-dots .slick-active {
  background-color: #3C4563;
}

.review-slider__item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.review-slider__context {
  background-color: #ffffff;
  max-width: 612px;
  padding: 32px;
  box-shadow: 0 9px 32px rgba(89, 92, 219, 0.05);
  border-radius: 16px;
  position: relative;
  top: -125px;
}
@media (max-width: 570px) {
  .review-slider__context {
    max-width: 450px;
  }
}

.rev-sliderText__wrapper {
  margin-bottom: 24px;
}

.rev-slider__title {
  text-transform: capitalize;
  color: var(--color-title);
  font-size: var(--fs-600-20);
  font-weight: 600;
  margin-bottom: 16px;
}

.rev-slider__text {
  font-size: var(--fs-400-14);
  line-height: 24px;
  color: #626687;
  opacity: 0.75;
  font-weight: 400;
}

.rev-realtor__wrapper {
  display: flex;
  justify-content: space-between;
}

.data-info__wrapper {
  margin-left: 24px;
  margin-right: 59px;
}
@media (max-width: 570px) {
  .data-info__wrapper {
    margin-left: 8px;
    margin-right: 10px;
  }
}

.realtor-info {
  display: flex;
}

.realtor-name, .realtor-location {
  display: block;
  padding: 3px 0;
}

.realtor-name {
  font-size: var(--fs-500-18);
  font-weight: 500;
  color: var(--color-title);
}

.realtor-location {
  font-size: var(--fs-500-14);
  font-weight: 500;
  color: var(--color-grey);
}

.rate-wrapper {
  align-self: flex-end;
}

.rate-num {
  color: #3C4563;
  font-size: var(--fs-600-20);
  font-weight: 600;
  display: inline-block;
  position: relative;
}
.rate-num:before {
  content: "";
  position: absolute;
  top: -7px;
  left: -50px;
  background-image: url("../img/review/star-icon.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 32px;
  height: 32px;
}

.tipTrick {
  position: relative;
  margin-bottom: 100px;
}
.tipTrick .content-wrapper {
  display: flex;
}
@media (max-width: 1199.98px) {
  .tipTrick .content-wrapper {
    flex-direction: column;
  }
}
.tipTrick .content-wrapper .article-info__wrapper {
  max-width: 340px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 32px;
}
@media (max-width: 570px) {
  .tipTrick .content-wrapper .article-info__wrapper {
    max-width: unset;
    margin-left: 0;
    padding-top: 10px;
  }
}
@media (max-width: 1199.98px) {
  .tipTrick .content-wrapper .half {
    width: 100%;
  }
}
@media (max-width: 1199.98px) {
  .tipTrick .content-wrapper .left-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.tipTrick:before {
  content: "";
  position: absolute;
  background-image: url("../img/trick/Vector0.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left center;
  width: 438px;
  height: 494px;
  top: -60px;
  left: 0;
  z-index: -1;
}
.tipTrick:after {
  content: "";
  position: absolute;
  background-image: url("../img/trick/Vector1.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left center;
  width: 438px;
  height: 494px;
  top: 120px;
  left: 0;
  z-index: -1;
}
.tipTrick .semi-title {
  margin-bottom: 36px;
}
.tipTrick .title-wrapper {
  margin-bottom: 54px;
}
.tipTrick .title-wrapper a {
  padding: 12px 16px;
  background-color: #10B981;
  border-radius: 32px;
  color: #fff;
  cursor: pointer;
  transition: all 0.4s;
}
.tipTrick .title-wrapper a:hover {
  background-color: var(--color-title);
}

.article-item {
  display: flex;
  margin-bottom: 44px;
}
@media (max-width: 767.98px) {
  .article-item {
    flex-direction: column;
  }
}

@media (max-width: 1441px) {
  .left-wrapper {
    margin-right: 28px;
  }
}

.realtor-wrap {
  display: flex;
  align-items: center;
}
.realtor-wrap span {
  color: #3C4563;
  font-size: var(--fs-400-14);
  font-weight: 400;
  margin-left: 16px;
}

.article-title {
  font-size: var(--fs-500-18);
  color: var(--color-title);
  font-weight: 500;
  line-height: 32px;
}

.date-wrapper span {
  color: #888B97;
  font-size: var(--fs-400-14);
  font-weight: 400;
  line-height: 24px;
  position: relative;
  padding-left: 34px;
}
.date-wrapper span:before {
  content: "";
  position: absolute;
  background-image: url("../img/trick/clock.svg");
  width: 20px;
  height: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
}

.right-wrapper {
  display: flex;
  justify-content: flex-end;
}
@media (max-width: 1199.98px) {
  .right-wrapper {
    justify-content: center;
  }
}
.right-wrapper .big-article__item .article-info__wrapper {
  max-width: 560px;
  width: 100%;
  margin-left: 0;
}
@media (max-width: 767.98px) {
  .right-wrapper .big-article__item > img {
    width: 100%;
  }
}
.right-wrapper .article-info__wrapper {
  margin-left: 0;
  max-width: 532px;
}
@media (max-width: 570px) {
  .right-wrapper .article-info__wrapper {
    max-width: unset;
    width: 100%;
    padding: 0 15px;
  }
}

.article-info__wrapper {
  max-width: 560px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 0;
  margin-top: 24px;
}

.realtor-wrap {
  margin-bottom: 12px;
}

p {
  font-size: var(--fs-400-14);
  line-height: 24px;
  color: #626687;
  opacity: 0.75;
  font-weight: 400;
  margin-bottom: 16px;
}

.subscribe {
  margin-bottom: 120px;
}

.subscribe__container {
  background: linear-gradient(48deg, rgb(140, 182, 250) 0%, rgb(241, 250, 249) 43%, rgb(233, 233, 244) 100%);
  border-radius: 32px;
}
@media (max-width: 767.98px) {
  .subscribe__container {
    border-radius: 0;
  }
}

.subscribe-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 65px 0;
}

@media (max-width: 1199.98px) {
  .subscribe-body {
    max-width: 375px;
    width: 100%;
  }
}
.subscribe-body .semi-title {
  margin-bottom: 32px;
}

.sub-form {
  position: relative;
}
.sub-form:before {
  content: "";
  position: absolute;
  background-image: url(../img/subscribe/envelope.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  top: 50%;
  left: 27px;
  transform: translateY(-50%);
  width: 20px;
  height: 16px;
  z-index: 1;
}

.sub-form__input {
  border: 1px solid #E0E3EB;
  border-radius: 32px;
  width: 100%;
  max-width: 496px;
  padding: 17px 16px 17px 64px;
  position: relative;
}

.sub-form__button {
  background: #10B981;
  border-radius: 32px;
  padding: 12px 16px 12px 16px;
  color: #fff;
  font-weight: 600;
  position: absolute;
  right: 9px;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.4s;
  cursor: pointer;
}
.sub-form__button:hover {
  background-color: var(--color-title);
}

.decoration-left {
  position: relative;
  width: 33%;
  height: 160px;
}
@media (max-width: 767.98px) {
  .decoration-left {
    display: none;
  }
}
.decoration-left img {
  position: absolute;
}
.decoration-left .left1 {
  top: -33px;
  left: 17px;
}
.decoration-left .left2 {
  top: -27px;
  left: 150px;
}
.decoration-left .left3 {
  top: 75px;
  left: 9px;
}
.decoration-left .left4 {
  top: 117px;
  left: 175px;
}

.decoration-right {
  position: relative;
  width: 33%;
  height: 160px;
}
@media (max-width: 767.98px) {
  .decoration-right {
    display: none;
  }
}
.decoration-right img {
  position: absolute;
}
.decoration-right .right1 {
  top: -24px;
  left: 82px;
}
.decoration-right .right2 {
  top: 20px;
  right: 114px;
}
@media (max-width: 1441px) {
  .decoration-right .right2 {
    right: 70px;
  }
}
@media (max-width: 1199.98px) {
  .decoration-right .right2 {
    right: 15px;
    top: 37px;
  }
}
.decoration-right .right3 {
  top: 56px;
  left: 95px;
}
@media (max-width: 1199.98px) {
  .decoration-right .right3 {
    left: 25px;
  }
}
.decoration-right .right4 {
  right: 137px;
  bottom: -31px;
}
@media (max-width: 1441px) {
  .decoration-right .right4 {
    right: 85px;
  }
}

.footer {
  margin-bottom: 126px;
  position: relative;
}
@media (max-width: 767.98px) {
  .footer {
    margin-bottom: 40px;
  }
}
.footer:before, .footer:after {
  content: "";
  position: absolute;
  background-position: center right;
  background-repeat: no-repeat;
  background-size: contain;
  width: 438px;
  height: 494px;
  border-radius: 32px;
  z-index: -1;
}
.footer:before {
  background-image: url("../img/footerBG1.svg");
  bottom: -233px;
  right: 0;
}
.footer:after {
  background-image: url("../img/footerBG2.svg");
  bottom: -142px;
  right: 0;
}

.footer__container {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 767.98px) {
  .footer__container {
    flex-direction: column;
  }
}

.footer-menu__wrapper {
  display: flex;
}
@media (max-width: 767.98px) {
  .footer-menu__wrapper {
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

.logo-wrapper {
  margin-bottom: 16px;
}

.text {
  font-size: var(--fs-400-14);
  line-height: 24px;
  color: var(--color-grey);
  opacity: 0.75;
  font-weight: 400;
  margin-bottom: 30px;
}

.media-text__wrapper {
  max-width: 320px;
}
@media (max-width: 767.98px) {
  .media-text__wrapper {
    margin-bottom: 25px;
  }
}

.media-wrapper {
  margin-left: 5px;
}
.media-wrapper .fa-brands {
  font-size: 28px;
  color: #3C4563;
  margin-right: 38px;
  transition: all 0.4s;
  cursor: pointer;
}
.media-wrapper .fa-brands:hover {
  color: var(--color-green);
}

.footer-menu__wrapper li {
  margin-bottom: 18px;
}
.footer-menu__wrapper li a {
  font-weight: 400;
  font-size: var(--fs-400-14);
  line-height: 18px;
  color: var(--color-grey);
  text-transform: capitalize;
  transition: all 0.4s;
}
.footer-menu__wrapper li a:hover {
  color: var(--color-green);
}
.footer-menu__wrapper .menu-title {
  font-weight: 600;
  font-size: var(--fs-600-18);
  line-height: 22px;
  text-transform: capitalize;
  margin-bottom: 24px;
}

.position {
  margin-left: 88px;
}
@media (max-width: 1199.98px) {
  .position {
    margin-left: 69px;
  }
}
@media (max-width: 767.98px) {
  .position {
    margin-left: 0;
    padding: 0 10px;
  }
}

@media screen and (min-width: 990.98px) {
  [class*=__container] {
    max-width: 960px;
  }
}
@media screen and (min-width: 1199.98px) {
  [class*=__container] {
    max-width: 1140px;
  }
  .slider-wrapper__container {
    width: calc(100vw - (100vw - 1140px) / 2);
    margin: unset;
    padding: 0;
    margin-left: calc((100vw - 1140px) / 2);
    max-width: none;
  }
}
@media screen and (min-width: 1440px) {
  [class*=__container] {
    max-width: 1200px;
  }
  .slider-wrapper__container {
    width: calc(100vw - (100vw - 1200px) / 2);
    margin: unset;
    margin-left: calc((100vw - 1200px) / 2);
    max-width: none;
    padding: 0;
  }
}
@media screen and (min-width: 1920px) {
  [class*=__container] {
    max-width: 1320px;
  }
  .slider-wrapper__container {
    width: calc(100vw - (100vw - 1320px) / 2);
    margin: unset;
    margin-left: calc((100vw - 1320px) / 2);
    max-width: none;
    padding: 0;
  }
}

/*# sourceMappingURL=style.css.map */
